.choice-card {
  width: 224px;
  height: 127px;
  border-radius: 16px;
  border-width: 1px;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  border: 1px solid var(--border);
  cursor: pointer;
}

.choice-card h4 {
  font-family: 'ProductSansM';
  font-weight: 500;
  font-style: bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.choice-card.selected {
  border-color: black;
  border-width: 2px;
}
