.photos-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.add-photo-button {
  width: 60%;
  height: 100%;
  cursor: pointer;
  background-color: #f7f7f7;
  border: none;
  border-radius: 20px;
}
