.sale-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.houses-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}
