.comparatif-page .comparatif-table {
  width: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comparatif-page .comparatif-table .left-part,
.comparatif-page .comparatif-table .right-part {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.comparatif-row {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding-inline: 30px;
  border-bottom: 1px solid #e4e4e4;
}

.left-part .comparatif-row {
  border-right: 1px solid #e4e4e4;
}

.comparatif-row.header {
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.comparatif-row:nth-child(even) {
  background-color: #f9fafb;
}

.comparatif-row .display-option {
  width: 100px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.display-option p {
  font-size: 9px;
  font-family: 'ProductSansM';
  font-weight: 500;
}

.modal .search-bar {
  width: 95%;
  height: 50px;
  border: 1px solid #e4e4e4;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-block: 10px;
  padding-right: 10px;
  padding-left: 20px;
}

.modal .search-bar input {
  flex-grow: 1;
  height: 100%;
  font-size: 15px;
  outline: none;
  border: none;
}

.modal .grid-apparts {
  width: 100%;
  flex-grow: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  overflow-y: scroll;
  padding-bottom: 20px;
}
