@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/ProductSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/ProductSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/ProductSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/ProductSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/ProductSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/ProductSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/ProductSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/ProductSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/ProductSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/ProductSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/ProductSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans';
  src: url('/fonts/ProductSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #e4e4e4;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'ProductSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
input:focus {
  border: none !important;
  outline: none !important;
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.action-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 0.68px solid var(--border);
  background-color: var(--background);
  cursor: pointer;
}

.leaflet-marker-icon[alt='Marker'] {
  alt: '';
  display: block;
}

.leaflet-marker-icon[alt='Marker']::after {
  content: none !important;
  display: none !important;
}
